<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insta.mapper.BoardMapper">
	
	<insert id="write">
		INSERT INTO
			insta_board(
				user_id, 
				content, 
				image
			)
		VALUES(
			#{userId},
			#{content},
			#{image}
		)
	</insert>
	
	<select id="list" parameterType="com.insta.domain.BoardDTO" resultType="com.insta.domain.BoardDTO">
		SELECT
			board_no,user_id,content,image
		FROM
			insta_board
		<where>
		</where>
		ORDER BY
				postdate desc
	</select>
	
	<select id="detail" parameterType="com.insta.domain.BoardDTO" resultType="com.insta.domain.BoardDTO">
		SELECT
			*
		FROM
			insta_board
		WHERE
			board_no = #{boardNo}
	</select>
	
	<insert id="writeComment">
		INSERT INTO
			insta_board_comment(
				board_no,
				reply_no,
				user_id,
				com_comment
			)
		VALUES(
			#{boardNo},
			#{replyNo},
			#{userId},
			#{comComment}
		)
	</insert>
	
	<select id="commentList" resultType="com.insta.domain.BoardCommentDTO">
		SELECT
			board_no,reply_no,user_id,com_comment
		FROM
			insta_board_comment
		WHERE
			board_no = #{boardNo}
	</select>
	
	<select id="myList" resultType="com.insta.domain.BoardDTO">
		SELECT
			board_no,user_id,content,image
		FROM
			insta_board
		WHERE
			user_id = #{userId}
	</select>
	
	<select id="myListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			insta_board
		WHERE
			user_id = #{userId}
	</select>
</mapper>