<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insta.mapper.MemberMapper">
	
	<insert id="signUp">
		INSERT INTO 
			user_info
		VALUES(
			#{userId}
			,#{userPwd}
			,#{userName}
			,#{userEmail}
		)
	</insert>
	
	<select id="idCheck">
		SELECT 
			user_id
		FROM
			user_info
		WHERE
			user_id = #{userId}
	</select>
	
	<select id="login" parameterType="String" resultType="String">
		SELECT 
			*
		FROM
			user_info
		WHERE
			user_id = #{userId}
		AND
			user_pwd = #{userPwd}
	</select>
	
	<select id="userInfo" resultType="com.insta.domain.UserDTO">
		SELECT
			*
		FROM
			user_info
		WHERE
			user_id = #{userId}
	</select>
</mapper>