<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insta.mapper.MemberMapper">
	
	<insert id="signUp">
		INSERT INTO 
			user_info(user_id, user_pwd, user_name, user_email)
		VALUES(
			#{userId}
			,#{userPwd}
			,#{userName}
			,#{userEmail}
		)
	</insert>
	
	<select id="idCheck">
		SELECT 
			user_id
		FROM
			user_info
		WHERE
			user_id = #{userId}
	</select>
	
	<select id="login" parameterType="String" resultType="String">
		SELECT 
			*
		FROM
			user_info
		WHERE
			user_id = #{userId}
		AND
			user_pwd = #{userPwd}
	</select>
	
	<select id="userInfo" resultType="com.insta.domain.UserDTO">	
		SELECT
			user_id,user_pwd,user_name,user_email,user_image
		FROM
			user_info
		WHERE
			user_id = #{userId}
	</select>
	
	<select id="userAllInfo" resultType="com.insta.domain.UserDTO">
		SELECT
			user_id,user_pwd,user_name,user_email,user_image
		FROM
			user_info
	</select>
	
	<update id="profileImage">
		UPDATE
			user_info
		SET
			user_image = #{userImage}
		WHERE
			user_id = #{userId}
	</update>
	
	<insert id="follow">
		INSERT INTO
			user_follow
		VALUES(
			#{userId}
			,#{otherId}
		)
	</insert>
	
	<delete id="unFollow">
		DELETE FROM
			user_follow
		WHERE
			user_id = #{userId}
		AND
			other_id = #{otherId}
	</delete>
	
	<select id="followList" resultType="String">
		SELECT 
			other_id
		FROM
			user_follow
		WHERE
			user_id = #{userId}
	</select>
	
	<select id="isFollow" resultType="String">
		SELECT 
			*
		FROM
			user_follow
		WHERE
			user_id = #{userId}
		AND
			other_id = #{otherId}
	</select>
	
	<select id="followerCount" resultType="int">
		SELECT
			count(*)
		FROM
			user_follow
		WHERE
			other_id = #{userId}
	</select>
	
	<select id="followCount" resultType="int">
		SELECT
			count(*)
		FROM
			user_follow
		WHERE
			user_id = #{userId}
	</select>
	
	<select id="searchPosts" resultType="com.insta.domain.UserDTO" parameterType="String">
		SELECT
			*
		FROM
			user_info
		WHERE
			user_id like CONCAT('%',#{keyword},'%') 
	</select>
</mapper>