<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/basic">
<head>
<script src="//code.jquery.com/jquery-1.11.0.min.js">
</script>
</head>
<body>
<th:block layout:fragment="content">
<section id="container">
    <div class="hidden_menu">
        <div class="scroll_inner">
            <div class="user">
                <div class="thumb_img"><img src="imgs/thumb.jpeg" alt="프로필사진"></div>
                <div class="id">kindtigerrr</div>
            </div>

            <div class="user">
                <div class="thumb_img"><img src="imgs/thumb.jpeg" alt="프로필사진"></div>
                <div class="id">kindtigerrr</div>
            </div>
            <div class="user">
                <div class="thumb_img"><img src="imgs/thumb.jpeg" alt="프로필사진"></div>
                <div class="id">kindtigerrr</div>
            </div>
            <div class="user">
                <div class="thumb_img"><img src="imgs/thumb.jpeg" alt="프로필사진"></div>
                <div class="id">kindtigerrr</div>
            </div>
            <div class="user">
                <div class="thumb_img"><img src="imgs/thumb.jpeg" alt="프로필사진"></div>
                <div class="id">kindtigerrr</div>
            </div>
            <div class="user">
                <div class="thumb_img"><img src="imgs/thumb.jpeg" alt="프로필사진"></div>
                <div class="id">kindtigerrr</div>
            </div>
            <div class="user">
                <div class="thumb_img"><img src="imgs/thumb.jpeg" alt="프로필사진"></div>
                <div class="id">kindtigerrr</div>
            </div>
            <div class="user">
                <div class="thumb_img"><img src="imgs/thumb.jpeg" alt="프로필사진"></div>
                <div class="id">kindtigerrr</div>
            </div>
            <div class="user">
                <div class="thumb_img"><img src="imgs/thumb.jpeg" alt="프로필사진"></div>
                <div class="id">kindtigerrr</div>
            </div>
            <div class="user">
                <div class="thumb_img"><img src="imgs/thumb.jpeg" alt="프로필사진"></div>
                <div class="id">kindtigerrr</div>
            </div>

        </div>
    </div>


    <section id="main_container">
        <div class="inner">
            <div class="contents_box"> 
                <article class="contents" th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}">
                    <header class="top">
                        <div class="user_container" th:each="row2 : ${userInfo}" th:if="${row.userId == row2.userId}">
                            <div class="profile_img" >
                                <!-- <img src="imgs/thumb.jpeg" alt="프로필이미지"> -->
                                <img th:src="@{/profile/{userImage} (userImage=${row2.userImage})}" > 
                            </div>
                            <div class="user_name">
                                <a th:href="|@{/otherProfile?}userId=${row.userId}|" th:text="${row.userId}" style="text-decoration: none; color: black;"></a>
                                <div class="country s_text">Seoul, South Korea</div>
                            </div>
                        </div>

                        <div class="sprite_more_icon" data-name="more" onclick="more()">
                            <ul id="more" class="toggle_box" >
                                <li><input type="submit" class="follow" value="팔로우" data-name="follow"></li>
                                <li>수정</li>
                                <li>삭제</li>
                            </ul>
                        </div>
                    </header>

                    <div class="img_section">
                        <div class="trans_inner">
                            <div>
                            	<a>
									<i class="fa fa-file-o" aria-hidden="true"></i>
									<img th:src="@{/upload/{image} (image=${row.image})}" style="height: 500px">
								</a>
                            </div>
                        </div>
                    </div>

                    <div class="bottom_icons">
                        <div class="left_icons">
                            <div style="text-align: right;">
                               <!-- <a class="btn btn-outline-dark heart" th:href="|@{/heartAction?}boardNo=${row.boardNo}&userID='${session.userId}'&heart=${row.likeCount}|" style="color: #00000000; width: 24px; height: 24px; display: inline-block;">
                               <img id="heart" src=""> 
                                </a> -->
                                <div class="sprite_heart_icon_outline" name="39" data-name="heartbeat"></div>
                            </div>
                            <div class="sprite_bubble_icon">
                            	<a th:href="|@{/detail?}boardNo=${row.boardNo}|" style="color: #00000000; width: 24px; height: 24px; display: inline-block;"></a>
                            </div>
                            <div class="sprite_share_icon" data-name="share"></div>
                        </div>
                        <div class="right_icon">
                            <div class="sprite_bookmark_outline" data-name="bookmark"></div>
                        </div>
                    </div>

                    <div class="likes m_text">
                        좋아요
                        <span id="like-count-39">[[${row.likeCount}]]</span>
                        개
                    </div>

                    <div class="comment_container">
                        <div class="comment" id="comment-list-ajax-post37" th:each="one : ${commentList}">
                            <div class="comment-detail" th:if="${row.boardNo == one.boardNo}">
                                <div class="nick_name m_text">[[ ${one.userId} ]]</div>
                                <div>[[ ${one.comComment} ]]</div>
                            </div>
                        </div>
                        <div class="small_heart">
                            <div class="sprite_small_heart_icon_outline"></div>
                        </div>
                    </div>

                    <div class="timer">1시간 전</div>

                    <div class="comment_field" id="add-comment-post37">
                        <input type="text" placeholder="댓글달기...">
                        <div class="upload_btn m_text" data-name="comment">게시</div>
                    </div>
                </article>



            </div>
            <div th:unless="${not #lists.isEmpty( boardList )}">
				<p>조회된 결과가 없습니다.</p>
            </div>
            
            <input type="hidden" id="page" value="1">

            <div class="side_box">
                <div class="user_profile">
                    <div class="profile_thumb">
                        <img src="imgs/thumb.jpeg" alt="프로필사진">
                    </div>
                    <div class="detail">
                        <div class="id m_text">KindTiger</div>
                        <div class="ko_name">심선범</div>
                    </div>
                </div>

                <article class="story">
                    <header class="story_header">
                        <div>스토리</div>
                        <div class="more">모두 보기</div>
                    </header>

                    <div class="scroll_inner">
                        <div class="thumb_user">
                            <div class="profile_thumb">
                                <img src="imgs/thumb02.jpg" alt="프로필사진">
                            </div>
                            <div class="detail">
                                <div class="id">kind_tigerrrr</div>
                                <div class="time">1시간 전</div>
                            </div>
                        </div>
                        <div class="thumb_user">
                            <div class="profile_thumb">
                                <img src="imgs/thumb02.jpg" alt="프로필사진">
                            </div>
                            <div class="detail">
                                <div class="id">kind_tigerrrr</div>
                                <div class="time">1시간 전</div>
                            </div>
                        </div>
                        <div class="thumb_user">
                            <div class="profile_thumb">
                                <img src="imgs/thumb02.jpg" alt="프로필사진">
                            </div>
                            <div class="detail">
                                <div class="id">kind_tigerrrr</div>
                                <div class="time">1시간 전</div>
                            </div>
                        </div>
                        <div class="thumb_user">
                            <div class="profile_thumb">
                                <img src="imgs/thumb02.jpg" alt="프로필사진">
                            </div>
                            <div class="detail">
                                <div class="id">kind_tigerrrr</div>
                                <div class="time">1시간 전</div>
                            </div>
                        </div>
                        <div class="thumb_user">
                            <div class="profile_thumb">
                                <img src="imgs/thumb02.jpg" alt="프로필사진">
                            </div>
                            <div class="detail">
                                <div class="id">kind_tigerrrr</div>
                                <div class="time">1시간 전</div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="recommend">
                    <header class="reco_header">
                        <div>회원님을 위한 추천</div>
                        <div class="more">모두 보기</div>
                    </header>

                    <div class="thumb_user">
                        <div class="profile_thumb">
                            <img src="imgs/thumb02.jpg" alt="프로필사진">
                        </div>
                        <div class="detail">
                            <div class="id">kind_tigerrrr</div>
                            <div class="time">1시간 전</div>
                        </div>
                    </div>
                    <div class="thumb_user">
                        <div class="profile_thumb">
                            <img src="imgs/thumb02.jpg" alt="프로필사진">
                        </div>
                        <div class="detail">
                            <div class="id">kind_tigerrrr</div>
                            <div class="time">1시간 전</div>
                        </div>
                    </div>
                </article>
            </div>


        </div>
    </section>
</section>
</th:block>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="js/main.js"></script>

<script th:inline="javascript">
   /*<![CDATA[*/
	   
	 /* $(function(){
		 nClick($("#b_no"));
	 });
   
   function nClick(e){
	   e.click(function(){
		   alert(e.text());
	   })
   } */
   function more(){
	   console.log("?????????????");
	   
		document.getElementById("more").classList.toggle("show");
	};
   
	window.onclick = function(event) {
		  if (!event.target.matches('.sprite_more_icon')) {

		    var dropdowns = document.getElementsByClassName("toggle_box");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('show')) {
		        openDropdown.classList.remove('show');
		      }
		    }
		  }
		}
   
     $(document).ready(function () {

           var heartval = /*[[${likeCount}]]*/;
           
           if(heartval>0) {
               console.log(heartval);
               $("#heart").prop("src", "imgs/heart2.png");
               $(".heart").prop('name',heartval)
           }
           else {
               console.log(heartval);
               $("#heart").prop("src", "imgs/heart.png");
               $(".heart").prop('name',heartval)
           }

           $(".heart").on("click", function () {

               var that = $(".heart");
               var boardNo = $("#b_no").text();
               var sendData = {'boardNo' : boardNo,'heart' : that.prop('name')};
               $.ajax({
                   url :"/heart?boardNo="+ boardNo +"&userId='test'",
                   type :'POST',
                   data : sendData,
                   success : function(data){
                       that.prop('name',data);
                       if(data==1) {
                           $('#heart').prop("src","imgs/heart2.png");
                       }
                       else{
                           $('#heart').prop("src","imgs/heart.png");
                       }
                   }
               });
           });
       });
     /*]]>*/
</script>
</body>
</html>