<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header id="header" th:fragment="main-navigator">
   <section class="h_inner">

      <h1 class="logo">
         <a href="index">
            <div class="sprite_insta_icon"></div>
            <div>
               <div class="sprite_write_logo"></div>
            </div>
         </a>
      </h1>

	<form action="/search" method="GET">
      <div class="search_field">
         <input type="text" name="keyword" list="idList" tabindex="0" id="s">
	     <datalist id="idList">
	         <option th:each="row : ${userList}" th:text="${row.userId}" th:value="${row.userId}"></option>	 
	     </datalist>
         <div class="fake_field">
            <span class=sprite_small_search_icon></span> <span id="ss">검색</span>
         </div>
      </div>
      </form>

      <div class="right_icons">
         <a href="write"><div class="sprite_camera_icon"></div></a> 
         <a href="login"><div class="sprite_compass_icon"></div></a> 
         <a href="follow.html"><div class="sprite_heart_icon_outline"></div></a>
         <a href="profile"><div class="sprite_user_icon_outline"></div></a>
      </div>
   </section>
</header>
</html>